.hidden {
  display: none;
}

#tooltip {
  /* box-sizing: border-box; */
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 10px;
  text-align: center;
  background-color: rgba(112, 128, 144, 0.5);
  pointer-events: none;
  font-size: 60%;
  font-weight: 500;
}

#tooltip p {
  margin: 0;
}